#start-webcam-button {
    opacity: 0;
    z-index: 3;
    position: absolute;
    font-size: 2em;
    left: 75%;
    top: 31%;
    cursor: pointer;
  }
  
#snap-button {
    opacity: 0;
    cursor: pointer;
    width: 4.5%;
    z-index: 3;
    font-size: 2.5em; 
    position: absolute;
    left: 74%;
    top: 41%;
  }
  
  #on-off-button {
    opacity: 0;
    font-size: 2em;
    height: 5%; 
    width: 1%; 
    z-index: 3;
    position: absolute;
    left: 75%;
    top: 22%;
    cursor: pointer;
  }
  
  
  .on-button {
    margin-top: 10px;
    background-color: none;
    border: none;
    color: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .upload-button {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .upload-button-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }