/* main.css */
.chat-message {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

.user-message-chat {
  background-color: #ecf0f1;
}

.assistant-message {
  background-color: rgba(255, 166, 0, 0.9);
  color: #fff;
}

#user-input-chat {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 2%;
  padding: 10px;
  width: 95.5%;

}

.user-input-input {
  flex: 1;
  padding: 10px;
}

#scroll {
  height: 90%;
  max-height: 900px;
  overflow-y: scroll;
  position: relative;
  scrollbar-width: none;
}

#user-button-chat {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.452);
  color: #fff;
  border: none;
  cursor: pointer;
}

#chat-container {
  height: 300px;
}

.chat {
  background: rgba(75, 78, 83, 0.8); 
  
}

.tv-karl {

  border: 10px solid #555555;
  outline: 10px solid #555555;
  outline-offset: -15px;  /* negative border width + outline width */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.layout-table {
  margin-top: 50px;
  margin-right: 1%;
}

/* Media Query for screen widths up to 890px */
@media screen and (max-width: 890px) {

  .layout-table {
    margin-top: 30px;
    margin-right: 1%;
  }

  .tv-karl {
    margin-top: 30px;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .layout-table {

    display: block;

  }


  .tv-column,
  .chat-column {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  .chat {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 10px solid #555555;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 2%;
    font-size: 15px;
    padding-bottom: 100px;
    position: relative;
  }
}




/* Media Query for screen widths starting from 891px */
@media screen and (min-width: 891px) {

  .layout-table {
    margin-top: 40px;
    margin-right: 1%;
  }

  .tv-karl {
    position: relative;
    
  }

  .chat {
    height: 100%;
    text-align: center;
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    border: 10px solid #555555;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 15px;
    position: relative;
    margin-bottom: 10px;
    
  }

  .layout-table {
    flex-wrap: wrap;
  }

  .tv-column {
    height: 100%;

  }

  .chat-column {
    height: 70vh;
    margin-right: 30px;
    width: 55%;
  }
}