.karl {
    width: 100%;
    border: 10px solid #555555;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.head {
    color: whitesmoke;
    width: 50%;
    margin: auto;
    font-size: 50px;
    text-align: center;
}


.left-content, .right-content {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.mid-content {
    width: 60%;
    padding-right: 20px;
}

.left-content img, .right-content img {
    width: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}