.karl {
    width: 100%;
    border: 1px solid #555555;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

.responsive {
    width: 100%;
}

.head {
    color: whitesmoke;
    width: 50%;
    margin: auto;
    font-size: 50px;
    text-align: center;
}

.mid-content {
    width: 60%;
    padding-right: 20px;
}

.image-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.tv-karl {
    position: relative;
  }

.tv, .karlintv {
    width: 300px;
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 0;
    left: 0;
}

.karlintv {
    width: 50%; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 17%; /* Adjust the positioning as needed */
    left: 22.5%; /* Adjust the positioning as needed */
    z-index: 1; /* Set a lower z-index for the background image */
}

.tv {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    position: relative;
    z-index: 2; /* Set a higher z-index for the foreground image */
}
