
  
  #animationPlayer {
    width: 50%;
    height: auto;
    position: absolute;
    top: 17%;
    left: 22.5%;
    z-index: 1;
  }
  
  #webCam, #canvas {
    width: 50%;
    height: auto;
    position: absolute;
    top: 20%;
    left: 22.5%;
    z-index: 0;
  }
  
  .tv-on {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
  }
  
  .tv-off {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .on-button {
    margin-top: 10px;
    background-color: none;
    border: none;
    color: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .upload-button {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .upload-button-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }
  