.menu {
    height: 100%;
    width: 15%;
    position: absolute;
    z-index: 3;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.5s ease;
    transform: translateX(120%);
    visibility: hidden;
    right: 0;
}

.navbar_hedding {
    color: black;
    font-weight: 800;
    text-align: right;
    padding: 16px 0;
    padding-right: 40%;
    margin-top: 6%;
    pointer-events: none;
    margin-bottom: 62%;
    font-size: 2vw;
}

.menu_list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.menu_list a {
    color: black;
    font-weight: 500;
    display: block;
    padding: 5%;
    padding-top: 25%;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.5s ease-out;
    font-size: 1.6vw;
}

.menu_list a i {
    width: 100%;
    text-align: center;
}

.menu_list .on-off-description {
    margin-top: 1.5vw;
}

.menu_list .talk-description {
    margin-top: 1vw;
}

.menu_list .upload-description {
    margin-top: 100px;
}

.menu_list .stream-description {
    margin-top: 30vw;
}

.input_menue {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.navigation {
    position: absolute;
    height: 4%;
    width: 3%;
    top: 23px;
    right: 15px;
    z-index: 4;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 10px black;
}

.navigation .line{
    position: absolute;
    height: 5%;
    width: 50%;
    background-color: black;
    border-radius: 50px;
    transition: 0.3s ease;
}

.navigation .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input_menue:checked ~ .navigation .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

.input_menue:checked ~ .navigation .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

.input_menue:checked ~ .navigation .middle_line{
    opacity: 0;
    transform: translateX(20px);
}

.input_menue:checked ~ .menu{
    transform: translateX(0);
    visibility: visible;
}

.input_menue:checked ~ .navigation {
    right: 20%;
}