.microphone-main {
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.microphone-main .image-container {
    padding: 10px;
  }
  
.microphone-main .image-container .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.microphone-main .image-container .image img {
    width: 350px;
    align-items: center;
  }
  
.microphone-main .image-container h1 {
    color: #00bcd4;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
  }
  
.microphone-main .image-container p {
    color: #324042;
    text-align: center;
    margin-bottom: 40px;
  }
  
.microphone-main .input-microphone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 50px;
    border-radius: 20px;
    background: rgb(202 253 255 / 50%);
  }
  
.microphone-main .input-microphone .talk {
    background: transparent;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
  }
  
.microphone-main .input-microphone .talk i {
    font-size: 20px;
    color: #aed0d0;
  }
  
.microphone-main .input-microphone .microphone-style-text {
    color: #aed0d0;
    font-size: 15px;
    margin-right: 50px;
  }


  .cloud-style-text {
    display: inline-block;
    color: #aed0d0;
    font-size: 15px;
    margin-left: 5px;
}

#fileInput {
  width: 50px;
  height: 50px;
}


.custom-file-upload {
    display: flex;
    background: transparent;
    width: 170px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.custom-file-upload input[type="file"] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
}

.custom-file-upload i {
    font-size: 24px; /* Adjust size as needed */
    padding: 10px;
    cursor: pointer;
    color: #aed0d0;
}
