
body {
    background-image: linear-gradient(#35373a, #4b4e53);
    font-family: 'Grape Nuts', cursive;
    box-sizing: border-box;
}

.style-headline {
  color:#16d93d
}

footer {
    margin-top: 10px;
    background-color: linear-gradient(#35373a, #4b4e53);
    color: white;
    padding: 10px;
    text-align: center;
}