body {
    background-color: #4b4e53;
    font-family: 'Grape Nuts', cursive;
}

.karl {
    width: 100%;
    border: 10px solid #555555;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.head {
    color: whitesmoke;
    width: 50%;
    margin: auto;
    font-size: 50px;
    text-align: center;
}


.left-content, .right-content {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.mid-content {
    width: 60%;
    padding-right: 20px;
}

.left-content img, .right-content img {
    width: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    display: flex;
}

.navbar li {
    margin-right: 50px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar a:hover {
    color: #59ff00;
}

.chat {
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 20px;
  border: 10px solid #555555;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 2%;
}

.chat-container {
  margin-top: 100px;
}

.chat-message {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.user-message {
  background-color: #ecf0f1;
}

.assistant-message {
  background-color: #16d93d;
  color: #fff;
}

.user-input {
  flex: 1;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}
