/*style of chat*/
.chat {
  background: rgba(75, 78, 83, 0.8); 
}

#chat-container {
  height: 300px;
}

/*style of message*/
.chat-message {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

.user-message-chat {
  background-color: #ecf0f1;
}

.assistant-message {
  background-color: rgba(255, 166, 0, 0.9);
  color: #fff;
}

.user-input-input {
  flex: 1;
  padding: 10px;
}

#user-input-chat {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 2%;
  padding: 10px;
  width: 95.5%;
}

/*style button*/
#user-button-chat {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.452);
  color: #fff;
  border: none;
  cursor: pointer;
}

/*autoscroll of chat*/
#scroll {
  height: 90%;
  max-height: 900px;
  overflow-y: scroll;
  position: relative;
  scrollbar-width: none;
}

.layout-table {
  margin-top: 50px;
  margin-right: 1%;
}