/* Media Query for screen widths up to 890px */
@media screen and (max-width: 890px) {

  .layout-table {
    margin-top: 30px;
    margin-right: 1%;
  }

  .tv-karl {
    margin-top: 30px;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .layout-table {
    display: block;
  }

  .tv-column,
  .chat-column {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .chat {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 10px solid #555555;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 2%;
    font-size: 15px;
    padding-bottom: 100px;
    position: relative;
  }
}
  
  
/* Media Query for screen widths starting from 891px */
@media screen and (min-width: 891px) {

  .layout-table {
    margin-top: 40px;
    margin-right: 1%;
    }

  .tv-karl {
    position: relative;
  }

  .chat {
    height: 100%;
    text-align: center;
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    border: 10px solid #555555;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 15px;
    position: relative;
    margin-bottom: 10px;
  }

  .layout-table {
    flex-wrap: wrap;
  }

  .tv-column {
    height: 100%;
  }

  .chat-column {
    height: 70vh;
    margin-right: 30px;
    width: 55%;
  }
}